<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348954860613-45o5navg9bofce63vbdqk5812r60j62n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348954860613-45o5navg9bofce63vbdqk5812r60j62n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348954860613-pv3mmg3bh99ips6m9tre0gubpkiggj5h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHCD3Qu8iOrgcNp1mLtDFQHAOfJkfpIbw</string>
	<key>GCM_SENDER_ID</key>
	<string>348954860613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcmus.lettutorFlutter</string>
	<key>PROJECT_ID</key>
	<string>lettutor-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lettutor-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348954860613:ios:cce6e7c6d920e6304cd72c</string>
</dict>
</plist>